mixin iconLocation
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve" class="main-reg_location-location">
		<metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
		<g>
			<g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)">
				<path d="M4731.2,5010.2c-1714.6-126.7-3083.6-1582.1-3095.1-3290.9c-1.9-286.1,25-476.2,111.4-781.5c234.2-841,873.6-2106.3,1812.5-3596.2c407-647,1409.3-2121.6,1440-2121.6c28.8,0,1008,1438.1,1392,2042.9C7286.8-1324,7891.6-158.5,8177.7,701.7c144,432,188.2,664.3,186.3,998.4c-5.8,1614.7-1203.9,3012.5-2807.1,3273.6C5284.2,5017.9,4996.2,5031.3,4731.2,5010.2z M5556.8,4368.9c739.2-163.2,1349.8-581.8,1760.7-1203.9c140.2-213.1,230.4-399.4,311-643.2c103.7-309.1,126.7-462.7,124.8-831.4c0-326.4-1.9-341.8-71-579.8c-213.1-745-771.9-1868.2-1593.6-3202.6C5819.9-2529.7,5019.2-3743.2,5000-3743.2c-19.2,0-819.8,1213.5-1088.7,1651.2c-827.5,1344-1386.3,2469.2-1591.7,3202.6c-238.1,844.8,46.1,1824,725.8,2499.9c414.7,412.8,921.6,675.8,1503.4,777.6C4756.2,4424.6,5357.1,4413.1,5556.8,4368.9z"/>
				<path d="M4809.9,3168.9c-777.6-105.6-1330.6-737.3-1330.6-1516.8c0-858.3,662.4-1520.7,1520.7-1520.7c858.3,0,1520.7,662.4,1520.7,1520.7c0,518.4-240,975.4-662.4,1265.3C5572.2,3113.2,5149.8,3215,4809.9,3168.9z M5270.7,2535.3c218.9-67.2,378.2-186.2,501.1-372.5c265-405.1,172.8-952.3-209.3-1244.2c-165.1-122.9-303.4-172.8-518.4-184.3c-142.1-5.8-201.6,0-307.2,30.7c-142.1,44.2-328.3,155.5-410.9,245.8c-401.3,437.8-301.4,1142.4,203.5,1440C4742.7,2575.6,5034.6,2608.3,5270.7,2535.3z"/>
			</g>
		</g>
	</svg>