mixin iconMale
	<svg x="0px" y="0px" width="17px" height="17px" viewBox="0 0 43.104 43.104" style="enable-background:new 0 0 43.104 43.104;" xml:space="preserve" class="row-reg_icon-img _forBackMove">
		<g>
			<path class="_forBackMove" d="M33.427,0.296c-1.178,0-2.133,0.956-2.133,2.134s0.955,2.134,2.133,2.134h2.393l-8.779,8.778c-2.855-2.322-6.49-3.72-10.447-3.72C7.444,9.622,0,17.065,0,26.215s7.443,16.593,16.594,16.593c9.148,0,16.592-7.443,16.592-16.593c0-3.655-1.203-7.027-3.213-9.771l8.865-8.864v1.889c0,1.178,0.955,2.134,2.133,2.134s2.133-0.956,2.133-2.134V0.297L33.427,0.296L33.427,0.296z M16.593,38.541c-6.797,0-12.326-5.529-12.326-12.326s5.529-12.326,12.326-12.326c6.795,0,12.324,5.529,12.324,12.326S23.388,38.541,16.593,38.541z"></path>
		</g>
	</svg>
